version: "3.5"

services:
  production_web-migis:
    image: mig:appbase-1.1
    container_name: production_web-migis
    restart: unless-stopped
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ./config/php74/conf.d/:/etc/php/7.4/cli/conf.d/
      - ./config/php74/conf.d/:/etc/php/7.4/fpm/conf.d/
      - ./supervisor/services/:/etc/supervisor/conf.d/
    networks:
      net-app:
        ipv4_address: 11.11.11.11
      net-database:
        ipv4_address: 10.10.10.10

networks:
  net-database:
    external: true
  net-app:
    external: true