version: "3.5"

services:
  prod_db-master-1:
    image: mig:mariadb-10.5
    container_name: production_db-master-1
    restart: unless-stopped
    tty: true
    ports:
      - '[HOST_IP]:[HOST_PORT_DB]:3306'
    environment:
      MARIADB_ROOT_PASSWORD: root-password
      MARIADB_USER: user-db
      MARIADB_PASSWORD: user-db-password
      SERVICE_TAGS: production/staging
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ./config/conf.d/:/etc/mysql/mariadb.conf.d/
      - ./config/root/:/root/
      - ./data/:/var/lib/mysql/
    networks:
      net-database:
        ipv4_address: [IP_STATIC]

networks:
  net-database:
    external: true